# Python
__pycache__/
*.pyc

# Environments
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# OS 임시파일
.DS_Store
Thumbs.db

# Large/generated data
data/raw/
data/interim/
data/clean/

*.parquet

# Optional local outputs
*.log

