.env

# Jupyter Notebook 임시 체크포인트
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# 환경변수
.env

# OS 임시파일
.DS_Store
Thumbs.db

# Large generated KRX data
data/clean/krx/*.pkl
data/clean/krx/*.parquet

data/clean/krx/stocks/krx_stock_panel_clean.parquet
data/clean/krx/stocks/krx_stock_panel_clean_temp.pkldata/clean/krx/stocks/krx_stock_panel_clean.parquet
data/clean/krx/stocks/krx_stock_panel_clean_temp.pkl
